.root {
  padding: 2em;
}
.accidental {
  vertical-align: super;
  font-size: 0.6em;
}
.circle_wrap {
  margin-top:2rem;
  margin-bottom:2rem;
}
.circle_of_fifths {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 2.75vmin;
  width: 75vmin;
  height: 75vmin;
  border: 1px solid #efefef;
  margin: auto;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 1.875vmin 1.875vmin rgba(0, 0, 0, 0.25), inset 0 0 0 9vmin white, inset 0 0 0 16vmin #cccccc;
}
.circle_of_fifths::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  border: 1px solid #efefef;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: white;
  box-shadow: inset 0 1.875vmin 1.875vmin rgba(0, 0, 0, 0.25);
}
.key {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 75vmin;
}
.key > * {
  position: absolute;
}
.key > div {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  height: 5vmin;
  width: 5vmin;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.key > div:hover {
  cursor: pointer;
}
.key > .major {
  text-transform: uppercase;
}
.key > .minor {
  text-transform: lowercase;
}
.key > .sig {
  font-size: 0.75em;
  color: #999;
}
.key:nth-child(1) {
  -webkit-transform: translate(0vmin, -24.75vmin);
          transform: translate(0vmin, -24.75vmin);
}
.key:nth-child(1) > .major {
  -webkit-transform: translate(0vmin, -7.5vmin) translate(-50%, -50%);
          transform: translate(0vmin, -7.5vmin) translate(-50%, -50%);
}
.key:nth-child(1) > .minor {
  -webkit-transform: translate(0vmin, 6.25vmin) translate(-50%, -50%);
          transform: translate(0vmin, 6.25vmin) translate(-50%, -50%);
}
.key:nth-child(1) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(1)::before {
  -webkit-transform: translate(0vmin, 24.75vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(0rad);
          transform: translate(0vmin, 24.75vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(0rad);
}
.key:nth-child(2) {
  -webkit-transform: translate(12.375vmin, -21.43412874vmin);
          transform: translate(12.375vmin, -21.43412874vmin);
}
.key:nth-child(2) > .major {
  -webkit-transform: translate(2.75vmin, -6.49519053vmin) translate(-50%, -50%);
          transform: translate(2.75vmin, -6.49519053vmin) translate(-50%, -50%);
}
.key:nth-child(2) > .minor {
  -webkit-transform: translate(-3.125vmin, 5.41265877vmin) translate(-50%, -50%);
          transform: translate(-3.125vmin, 5.41265877vmin) translate(-50%, -50%);
}
.key:nth-child(2) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(2)::before {
  -webkit-transform: translate(-12.375vmin, 21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(0.52359878rad);
          transform: translate(-12.375vmin, 21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(0.52359878rad);
}
.key:nth-child(3) {
  -webkit-transform: translate(21.43412874vmin, -12.375vmin);
          transform: translate(21.43412874vmin, -12.375vmin);
}
.key:nth-child(3) > .major {
  -webkit-transform: translate(6.49519053vmin, -2.75vmin) translate(-50%, -50%);
          transform: translate(6.49519053vmin, -2.75vmin) translate(-50%, -50%);
}
.key:nth-child(3) > .minor {
  -webkit-transform: translate(-5.41265877vmin, 3.125vmin) translate(-50%, -50%);
          transform: translate(-5.41265877vmin, 3.125vmin) translate(-50%, -50%);
}
.key:nth-child(3) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(3)::before {
  -webkit-transform: translate(-21.43412874vmin, 12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(1.04719755rad);
          transform: translate(-21.43412874vmin, 12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(1.04719755rad);
}
.key:nth-child(4) {
  -webkit-transform: translate(24.75vmin, 0vmin);
          transform: translate(24.75vmin, 0vmin);
}
.key:nth-child(4) > .major {
  -webkit-transform: translate(7.5vmin, 0vmin) translate(-50%, -50%);
          transform: translate(7.5vmin, 0vmin) translate(-50%, -50%);
}
.key:nth-child(4) > .minor {
  -webkit-transform: translate(-6.25vmin, 0vmin) translate(-50%, -50%);
          transform: translate(-6.25vmin, 0vmin) translate(-50%, -50%);
}
.key:nth-child(4) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(4)::before {
  -webkit-transform: translate(-24.75vmin, 0vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(1.57079633rad);
          transform: translate(-24.75vmin, 0vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(1.57079633rad);
}
.key:nth-child(5) {
  -webkit-transform: translate(21.43412874vmin, 12.375vmin);
          transform: translate(21.43412874vmin, 12.375vmin);
}
.key:nth-child(5) > .major {
  -webkit-transform: translate(6.49519053vmin, 2.75vmin) translate(-50%, -50%);
          transform: translate(6.49519053vmin, 2.75vmin) translate(-50%, -50%);
}
.key:nth-child(5) > .minor {
  -webkit-transform: translate(-5.41265877vmin, -3.125vmin) translate(-50%, -50%);
          transform: translate(-5.41265877vmin, -3.125vmin) translate(-50%, -50%);
}
.key:nth-child(5) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(5)::before {
  -webkit-transform: translate(-21.43412874vmin, -12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(2.0943951rad);
          transform: translate(-21.43412874vmin, -12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(2.0943951rad);
}
.key:nth-child(6) {
  -webkit-transform: translate(12.375vmin, 21.43412874vmin);
          transform: translate(12.375vmin, 21.43412874vmin);
}
.key:nth-child(6) > .major {
  -webkit-transform: translate(2.75vmin, 6.49519053vmin) translate(-50%, -50%);
          transform: translate(2.75vmin, 6.49519053vmin) translate(-50%, -50%);
}
.key:nth-child(6) > .minor {
  -webkit-transform: translate(-3.125vmin, -5.41265877vmin) translate(-50%, -50%);
          transform: translate(-3.125vmin, -5.41265877vmin) translate(-50%, -50%);
}
.key:nth-child(6) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(6)::before {
  -webkit-transform: translate(-12.375vmin, -21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(2.61799388rad);
          transform: translate(-12.375vmin, -21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(2.61799388rad);
}
.key:nth-child(7) {
  -webkit-transform: translate(0vmin, 24.75vmin);
          transform: translate(0vmin, 24.75vmin);
}
.key:nth-child(7) > .major {
  -webkit-transform: translate(0vmin, 7.5vmin) translate(-50%, -50%);
          transform: translate(0vmin, 7.5vmin) translate(-50%, -50%);
}
.key:nth-child(7) > .minor {
  -webkit-transform: translate(0vmin, -6.25vmin) translate(-50%, -50%);
          transform: translate(0vmin, -6.25vmin) translate(-50%, -50%);
}
.key:nth-child(7) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(7)::before {
  -webkit-transform: translate(0vmin, -24.75vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(3.14159265rad);
          transform: translate(0vmin, -24.75vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(3.14159265rad);
}
.key:nth-child(8) {
  -webkit-transform: translate(-12.375vmin, 21.43412874vmin);
          transform: translate(-12.375vmin, 21.43412874vmin);
}
.key:nth-child(8) > .major {
  -webkit-transform: translate(-2.75vmin, 6.49519053vmin) translate(-50%, -50%);
          transform: translate(-2.75vmin, 6.49519053vmin) translate(-50%, -50%);
}
.key:nth-child(8) > .minor {
  -webkit-transform: translate(3.125vmin, -5.41265877vmin) translate(-50%, -50%);
          transform: translate(3.125vmin, -5.41265877vmin) translate(-50%, -50%);
}
.key:nth-child(8) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(8)::before {
  -webkit-transform: translate(12.375vmin, -21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(3.66519143rad);
          transform: translate(12.375vmin, -21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(3.66519143rad);
}
.key:nth-child(9) {
  -webkit-transform: translate(-21.43412874vmin, 12.375vmin);
          transform: translate(-21.43412874vmin, 12.375vmin);
}
.key:nth-child(9) > .major {
  -webkit-transform: translate(-6.49519053vmin, 2.75vmin) translate(-50%, -50%);
          transform: translate(-6.49519053vmin, 2.75vmin) translate(-50%, -50%);
}
.key:nth-child(9) > .minor {
  -webkit-transform: translate(5.41265877vmin, -3.125vmin) translate(-50%, -50%);
          transform: translate(5.41265877vmin, -3.125vmin) translate(-50%, -50%);
}
.key:nth-child(9) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(9)::before {
  -webkit-transform: translate(21.43412874vmin, -12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(4.1887902rad);
          transform: translate(21.43412874vmin, -12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(4.1887902rad);
}
.key:nth-child(10) {
  -webkit-transform: translate(-24.75vmin, 0vmin);
          transform: translate(-24.75vmin, 0vmin);
}
.key:nth-child(10) > .major {
  -webkit-transform: translate(-7.5vmin, 0vmin) translate(-50%, -50%);
          transform: translate(-7.5vmin, 0vmin) translate(-50%, -50%);
}
.key:nth-child(10) > .minor {
  -webkit-transform: translate(6.25vmin, 0vmin) translate(-50%, -50%);
          transform: translate(6.25vmin, 0vmin) translate(-50%, -50%);
}
.key:nth-child(10) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(10)::before {
  -webkit-transform: translate(24.75vmin, 0vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(4.71238898rad);
          transform: translate(24.75vmin, 0vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(4.71238898rad);
}
.key:nth-child(11) {
  -webkit-transform: translate(-21.43412874vmin, -12.375vmin);
          transform: translate(-21.43412874vmin, -12.375vmin);
}
.key:nth-child(11) > .major {
  -webkit-transform: translate(-6.49519053vmin, -2.75vmin) translate(-50%, -50%);
          transform: translate(-6.49519053vmin, -2.75vmin) translate(-50%, -50%);
}
.key:nth-child(11) > .minor {
  -webkit-transform: translate(5.41265877vmin, 3.125vmin) translate(-50%, -50%);
          transform: translate(5.41265877vmin, 3.125vmin) translate(-50%, -50%);
}
.key:nth-child(11) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(11)::before {
  -webkit-transform: translate(21.43412874vmin, 12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(5.23598776rad);
          transform: translate(21.43412874vmin, 12.375vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(5.23598776rad);
}
.key:nth-child(12) {
  -webkit-transform: translate(-12.375vmin, -21.43412874vmin);
          transform: translate(-12.375vmin, -21.43412874vmin);
}
.key:nth-child(12) > .major {
  -webkit-transform: translate(-2.75vmin, -6.49519053vmin) translate(-50%, -50%);
          transform: translate(-2.75vmin, -6.49519053vmin) translate(-50%, -50%);
}
.key:nth-child(12) > .minor {
  -webkit-transform: translate(3.125vmin, 5.41265877vmin) translate(-50%, -50%);
          transform: translate(3.125vmin, 5.41265877vmin) translate(-50%, -50%);
}
.key:nth-child(12) > .sig {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.key:nth-child(12)::before {
  -webkit-transform: translate(12.375vmin, 21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(5.75958653rad);
          transform: translate(12.375vmin, 21.43412874vmin) translate(0%, -50%) rotate(0.26179939rad) rotate(5.75958653rad);
}

  /* 
  background-color: #6df4cf
  background-color: #e08d8e
  background-color: #c99fe3
  
  background-color: #8ddfe1
  background-color: #d7e465 */

.active {
  background-color: #8db5ea
}

.active > .major {
  background-color: #8db5ea
}

.active > .minor {
  background-color: #ebd38d
}

.prev .major {
  background-color: #6df4cf
}

.prev > .minor {
  background-color: #c99fe3
}

.next > .major {
  background-color: #e08d8e
}

.next > .minor {
  background-color: #8ddfe1
}

.nextNext > .minor {
  background-color: #d7e465 
}