html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2 {
  text-align: center;
  margin-block-end: 0.33em;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

a.btn {
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: rgb(31, 31, 31);
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
  padding: 5px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
    cursor: pointer;
	}
	
	a.btn:active {
		background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
    cursor: pointer;
	}

a.btn_active {
    display: inline-block;
    color: rgb(31, 31, 31);
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color:#6df48f;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
  }
  
    a.btn_active:hover {
      background-color: #62df81;
      border-color: rgba(0,0,0,0.5);
      cursor: pointer;
    }
    
    a.btn_active:active {
      background-color: #5aca76;
      border-color: rgba(0,0,0,0.9);
      cursor: pointer;
    }
  
